<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <!-- tt-mobile menu -->
      <!-- <nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
      <header th:replace="solution/widget/pc-menu :: p-menu"></header> -->
      <main id="tt-pageContent" class="tt-offset-none">
          <div class="container">
              <div class="tt-loginpages-wrapper">
                  <div class="tt-loginpages">
                      <a href="index.html" class="tt-block-title">
                          <img src="images/logo.png" alt="">
                          <div class="tt-title">
                              Univa에 오신것을 환영합니다.
                          </div>
                          <div class="tt-description">
                            Univa의 도움으로 어려운 문제를 해결해보세요!
                          </div>
                      </a>
                      <form class="form-default">
                          <div class="form-group">
                              <label for="loginUserName">ID</label>
                              <input type="text" name="name" class="form-control" id="id" placeholder="ID 입력">
                          </div>
                          <div class="form-group">
                              <label for="loginUserPassword">Password</label>
                              <input type="password" name="name" class="form-control" id="loginUserPassword" placeholder="****">
                          </div>
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <div class="checkbox-group">
                                          <input type="checkbox" id="settingsCheckBox01" name="checkbox">
                                          <label for="settingsCheckBox01">
                                              <span class="check"></span>
                                              <span class="box"></span>
                                              <span class="tt-text">자동로그인</span>
                                          </label>
                                      </div>
                                  </div>
                              </div>
                              <div class="col ml-auto text-right">
                                  <a href="#" class="tt-underline">회원가입</a>
                              </div>
                          </div>
                          <div class="form-group">
                              <a href="/solution" class="btn btn-secondary btn-block">Log in</a>
                          </div>
                          <p>간편로그인</p>
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <a href="#" class="btn btn-color01 btn-secondary btn-block" style="background:#00c63a">
                                          NAVER
                                      </a>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="form-group">
                                      <a href="#" class="btn btn-color02 btn-block">
                                          Google
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <p>비밀번호를 잊으셨나요?<a href="#" class="tt-underline" style="float:right;">비밀번호 찾기</a></p>
                          <div class="tt-notes">
                              copyright(c) 2020 All rights reserved by Univa.
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </main>
      <script src="js/bundle.js"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>
   </body>
</html>
