<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <!-- tt-mobile menu -->
      <main id="tt-pageContent" class="tt-offset-none">
          <div class="container">
              <div class="tt-loginpages-wrapper">
                  <div class="tt-loginpages">
                      <a href="/solution" class="tt-block-title">
                          <img th:src="@{/images/logo.png}" alt="">
                          <div class="tt-title">
                              Univa에 오신것을 환영합니다.
                          </div>
                          <div class="tt-description">
                            Univa의 도움으로 어려운 문제를 해결해보세요!
                          </div>
                      </a>
                      <div class="form-default">
                          <div class="form-group">
                              <label for="loginUserName">ID</label>
                              <input type="text" name="username" class="form-control" placeholder="ID 입력" required>
                          </div>
                          <div class="form-group">
                              <label for="loginUserPassword">Password</label>
                              <input type="password" name="password" class="form-control" placeholder="****" required>
                          </div>
                          <p>아직 회원이 아니신가요?<a href="#" class="tt-underline" style="float:right;">회원가입</a></p>
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <a class="btn btn-secondary btn-block" onclick="onClickLogin()" style="color:#fff;">Log in</a>
                          </div>
                          <p>간편로그인</p>
                          <div class="row">
                              <div class="col">
                                  <div class="form-group">
                                      <a href="#" class="btn btn-color01 btn-secondary btn-block" style="background:#00c63a">
                                          NAVER
                                      </a>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="form-group">
                                      <a href="#" class="btn btn-color02 btn-block">
                                          Google
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <p>비밀번호를 잊으셨나요?<a href="#" class="tt-underline" style="float:right;">비밀번호 찾기</a></p>
                          <div class="tt-notes">
                              copyright(c) 2020 All rights reserved by Univa.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
      <script th:src="@{/js/bundle.js}"></script>
      <script th:src="@{/js/utils.js}"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>
   </body>

   <script>
    function onClickLogin(){
      postAPI("/solution/user/login", JSON.stringify({
        "username" : $("input[name=username]").val(),
        "password" : $("input[name=password]").val()
      }), function(result){
        if(result) window.location.href="/solution";
        else window.alert("정보가 일치하지 않습니다.");
      })
    }
  </script>
</html>
