<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="solution/widget/head :: head"></head>
<!-- tt-mobile menu -->
<nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
<header th:replace="solution/widget/pc-menu :: p-menu"></header>
<main id="tt-pageContent">
    <div class="container">
        <div class="tt-wrapper-inner">
            <h1 class="tt-title-border">
                새 문제등록
            </h1>
            <form class="form-default form-create-topic" method="POST" action="/solution/apply?min=0&max=10&state=0" enctype="multipart/form-data">
              <div class="row" >
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="inputTopicTitle">등록 닉네임</label>
                      <div class="tt-value-wrapper">
                          <input type="text" name="nickname" class="form-control" placeholder="닉네임을 입력하세요"
                                  th:value="${session.user?.username} != null ? ${session.user?.username}"
                                  th:disabled="${session.user?.username} != null ? 'true'" required>
                      </div>
                      <div class="tt-note">자신의 질문을 검색할때 사용됩니다.</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputTopicTitle">등록 비밀번호</label>
                        <div class="tt-value-wrapper">
                            <input type="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요"
                                    th:value="${session.user?.username} != null ? ${session.user?.password}"
                                    th:disabled="${session.user?.username} != null ? 'true'" required>
                        </div>
                        <div class="tt-note">자신의 질문을 조회할때 사용됩니다.</div>
                    </div>
                  </div>
              </div>
              <div class="row" style="margin-top:20px;">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="inputTopicTitle">대표 질문제목</label>
                      <div class="tt-value-wrapper">
                          <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputTopicTitle">대표 과목</label>
                        <div class="tt-value-wrapper">
                            <input type="text" class="form-control" placeholder="과목을 선택하세요" onclick="showSubject()" readonly>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="row" id="subjectList" style="margin:30px 0px 30px 0px; display:none;">
                  <div class="col-md-12">
                    <div class="tt-wrapper-inner">
                        <div class="tt-list-avatar">
                            <div class="row" id="subject-list">
                              <div class="col-6 col-md-4 col-lg-3" th:each="subjectList,num : ${subject_list}" >
                                <div class="checkbox-group">
                                  <input type="checkbox" th:id="'subjectBox' + ${num.index}" th:data-id="${subjectList.id}">
                                  <label th:for="'subjectBox' + ${num.index}">
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      <span class="tt-text" th:text="${subjectList.name}"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
                <div class="row" style="margin-top:20px;">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="inputTopicTitle">대표 질문내용</label>
                          <div class="tt-value-wrapper">
                            <textarea name="content" class="form-control" rows="5" placeholder="질문내용을 입력하세요"></textarea>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="pt-editor" id="question-row">
                    <h5 class="pt-title">질문 상세내용</h5>
                    <div class="row" style="border-bottom:1px solid #e2e7ea;">
                        <div class="col-md-3">
                            <ul class="pt-edit-btn">
                                <li>
                                  <button type="button" class="btn-icon" style="cursor:"><h4>사진</h4></button>
                                </li>
                            </ul>
                            <div class="form-group" >
                                <a class="tt-button-icon" style="cursor:pointer;" >
                                    <span class="tt-icon" >
                                      <img style="max-width:120px; max-height:120px; min-width:120px; min-height:120px;" id="image_01" onclick="ajaxFileUpload('1')"></img>
                                      <input type="file" name="problems[0].file" id="imageFile_01" style="display:none;"/>
                                      <input type="text" name="problems[0].number" style="display:none;" value="0"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-left">
                                <ul class="pt-edit-btn">
                                    <li>
                                      <button type="button" class="btn-icon" ><h4>질문내용</h4></button>
                                    </li>
                                    <!-- <li>
                                      <button type="button" class="btn-icon" style="cursor:"><h4>∞</h4></button>
                                    </li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-italic"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-share_topic"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-blockquote"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-performatted"></use>
                                        </svg>
                                    </button></li>
                                    <li class="hr"></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-upload_files"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-bullet_list"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-heading"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-horizontal_line"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-emoticon"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-settings"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-color_picker"></use>
                                        </svg>
                                    </button></li> -->
                                </ul>
                            </div>
                            <textarea name="problems[0].text" class="form-control" rows="5" placeholder="사진에 대한 설명 및 질문을 입력하세요."></textarea>
                        </div>
                    </div>
                  </div>
                  <div class="pt-editor">
                    <div class="row">
                      <div class="col-auto ml-auto">
                          <a class="btn btn-secondary btn-custom" style="color:#fff; cursor:pointer; background:#000;" onclick="addQuestion()">+</a>
                      </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-5">
                          <h5 class="pt-title">추가옵션</h5>
                          <div class="checkbox-group">
                            <input type="checkbox" id="isNewCheckBox" name="isNew">
                            <label for="isNewCheckBox">
                                <span class="check"></span>
                                <span class="box"></span>
                                <span class="tt-text">새로운 문제풀이</span>
                            </label>
                          </div>
                            <div class="checkbox-group">
                              <input type="checkbox" id="isDetailCheckBox" name="isDetail">
                              <label for="isDetailCheckBox">
                                  <span class="check"></span>
                                  <span class="box"></span>
                                  <span class="tt-text">풀이 상세설명</span>
                              </label>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="language">
                                    <option value="Default">풀이 언어</option>
                                    <option value="KO">한국어</option>
                                    <option value="EN">English</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5 class="pt-title">마감일</h5>
                            <div class="form-group" style="float:left;">
                                <select class="form-control" id="select-year">
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:left; margin:0px 20px 0px 20px;">
                                <select class="form-control" id="select-month">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:left;">
                                <select class="form-control" id="select-day">
                                    <option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option>
                                    <option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                    <option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option>
                                    <option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                    <option value="25">25</option><option value="26">26</option><option value="27">270</option><option value="28">28</option><option value="29">29</option><option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <input type="text" name="limit_date" style="display:none;"/>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-auto ml-md-auto">
                            <a class="btn btn-secondary btn-width-lg" style="color:#fff; cursor:pointer;" onclick="submit()">결제하기</a>
                            <input id="submit" type="submit" class="btn btn-secondary btn-width-lg" style="color:#fff; cursor:pointer; display:none;"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="../js/bundle.js"></script>

<script>
  // 미리보기 이미지등록
  imagePreView(document.getElementById("imageFile_01"));
  selectLimitDate();


  function submit(){
    var subjectForIndex = 0 ;
    // 새로운 문제풀이, 상세설명이 체크되면 on으로 들어옴 >> 0 or 1로 대체
    $("#isNewCheckBox").val($("#isNewCheckBox").is(":checked") == true ? 1 : 0);
    $("#isDetailCheckBox").val($("#isDetailCheckBox").is(":checked")  == true ? 1 : 0);

    // 과목 체크된 항목들을 input 태그로 생성 (post form으로 과목 id를 보내기위해)
    var list = $("#subject-list").children();
    for(var idx=0; idx<list.length; idx++){
      var isChecked = $("#subjectBox"+idx).is(":checked");
      if(isChecked){
        var id = $("#subjectBox"+idx).data("id");
        $("#subject-list").append("<input type=\"text\" name=\"subjects["+subjectForIndex+"].subject_id\" value=\""+id+"\" style=\"display:none;\"/>");
        subjectForIndex++;
      }
    }
    $("#submit").click();
  }

  // n 길이가 width보다 아래일때, n 앞에 0을 붙혀줌
  function numberPad(n, width) {
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
  }

 	// 파일업로드
	function ajaxFileUpload(mIndex) {
    $("#imageFile_" + numberPad(mIndex,2)).click();
  }

  // 이미지 미리보기 지원하는 함수
	function imagePreView(target, callback){
    var num = (target.id).split("_")[1];
    var img = new Image();
    target.onchange = function (e) {
      e.preventDefault();
      var file = target.files[0], reader = new FileReader();
      reader.onload = function (event) {
        img.src = event.target.result;
        img.width = 150;
        img.height = 220;
        img.id=target.id;
				$("#image_"+num).attr("src", img.src);
      };
			reader.readAsDataURL(file);
			$(target.id).css("cursor","pointer");
    };
  }

  function showSubject(){
    if( $("#subjectList").is(":visible") ){
        $("#subjectList").slideUp();
    }else{
        $("#subjectList").slideDown();
    }
  }

  function selectLimitDate(){
    var year =  $("#select-year").val();
    var month =  $("#select-month").val();
    var day =  $("#select-day").val();
    $("input[name=limit_date]").val(year + "-" + month + "-" + day + "T" + "23:59:59");
  }

  $('select').change(function() {
    selectLimitDate();
  })

  // 질문 row 추가
  function addQuestion(){
    var length = $("#question-row").children().length;
    $("#question-row").append(""+
      "<div class=\"row\" style=\"border-bottom:1px solid #e2e7ea;\">"+
      "<div class=\"col-md-3\">"+
          "<ul class=\"pt-edit-btn\">"+
              "<li>"+
                "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>사진</h4></button>"+
              "</li>"+
          "</ul>"+
          "<div class=\"form-group\">"+
              "<a href=\"#\" class=\"tt-button-icon\">"+
                  "<span class=\"tt-icon\">"+
                    "<img style=\"max-width:120px; max-height:120px; min-width:120px; min-height:120px;\" id=\"image_"+numberPad(length,2)+"\" onclick=\"ajaxFileUpload('"+length+"')\"></img>"+
                    "<input type=\"file\" name=\"problems[" + (length-1) +"].file\" id=\"imageFile_" + numberPad(length,2) + "\" style=\"display:none;\"></img>"+
                    "<input type=\"text\" name=\"problems[" + (length-1) + "].number\" style=\"display:none;\" value=\"" + (length-1) + "\"/>"+
                  "</span>"+
              "</a>"+
          "</div>"+
      "</div>"+
      "<div class=\"col-md-9\">"+
          "<div class=\"col-left\">"+
              "<ul class=\"pt-edit-btn\">"+
                  "<li>"+
                    "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>질문내용</h4></button>"+
                  "</li>"+
                  // "<li>"+
                  //   "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>∞</h4></button>"+
                  // "</li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-italic\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-share_topic\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-blockquote\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-performatted\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li class=\"hr\"></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-upload_files\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-bullet_list\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-heading\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-horizontal_line\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-emoticon\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-settings\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-color_picker\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
              "</ul>"+
          "</div>"+
          "<textarea name=\"problems[" + (length-1) + "].text\" class=\"form-control\" rows=\"5\" placeholder=\"질문내용을 입력하세요\"></textarea>"+
      "</div>"+
      "</div>");
      imagePreView(document.getElementById("imageFile_"+numberPad(length,2)));
  }
</script>
<script th:src="@{/js/bundle.js}"></script>
<svg th:replace="solution/svg/svg :: svg"></svg>
</body>
</html>
