<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="solution/widget/head :: head"></head>
<!-- tt-mobile menu -->
<nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
<header th:replace="solution/widget/pc-menu :: p-menu"></header>
<main id="tt-pageContent">
    <div class="container">
        <div class="tt-wrapper-inner">
            <h1 class="tt-title-border">
                새 문제등록
            </h1>
            <form class="form-default form-create-topic" method="POST" action="/solution/apply" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="inputTopicTitle">등록 닉네임</label>
                        <div class="tt-value-wrapper">
                            <input type="text" name="nickname" class="form-control" placeholder="제목을 입력하세요">
                        </div>
                        <div class="tt-note">자신의 질문을 검색할때 사용됩니다.</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="inputTopicTitle">등록 비밀번호</label>
                          <div class="tt-value-wrapper">
                              <input type="password" name="password" class="form-control" placeholder="원하는 과목을 입력하세요">
                          </div>
                          <div class="tt-note">자신의 질문을 조회할때 사용됩니다.</div>
                      </div>
                    </div>
                </div>
              <div class="row" style="margin-top:20px;">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="inputTopicTitle">대표 질문제목</label>
                      <div class="tt-value-wrapper">
                          <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요">
                          <span class="tt-value-input">99</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputTopicTitle">질문 과목</label>
                        <div class="tt-value-wrapper">
                            <input type="text" name="subject" class="form-control" placeholder="원하는 과목을 입력하세요">
                            <span class="tt-value-input">99</span>
                        </div>
                        <div class="tt-note">등록 가능한 과목이름이 자동완성됩니다.</div>
                    </div>
                  </div>
              </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="inputTopicTitle">대표 질문내용</label>
                          <div class="tt-value-wrapper">
                            <textarea name="content" class="form-control" rows="5" placeholder="질문내용을 입력하세요"></textarea>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="pt-editor" id="question-row">
                    <h5 class="pt-title">질문 상세내용</h5>
                    <div class="row" style="border-bottom:1px solid #e2e7ea;">
                        <div class="col-md-3">
                            <ul class="pt-edit-btn">
                                <li>
                                  <button type="button" class="btn-icon" style="cursor:"><h4>사진</h4></button>
                                </li>
                            </ul>
                            <div class="form-group" >
                                <a class="tt-button-icon" style="cursor:pointer;" >
                                    <span class="tt-icon" >
                                      <img style="max-width:120px; max-height:120px; min-width:120px; min-height:120px;" id="image_01" onclick="ajaxFileUpload('1')"></img>
                                      <input type="file" name="problems[0].file" id="imageFile_01" style="display:none;"/>
                                      <input type="text" name="problems[0].number" style="display:none;" value="0"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-left">
                                <ul class="pt-edit-btn">
                                    <li>
                                      <button type="button" class="btn-icon" ><h4>질문내용</h4></button>
                                    </li>
                                    <!-- <li>
                                      <button type="button" class="btn-icon" style="cursor:"><h4>∞</h4></button>
                                    </li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-italic"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-share_topic"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-blockquote"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-performatted"></use>
                                        </svg>
                                    </button></li>
                                    <li class="hr"></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-upload_files"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-bullet_list"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-heading"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-horizontal_line"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-emoticon"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-settings"></use>
                                        </svg>
                                    </button></li>
                                    <li><button type="button" class="btn-icon">
                                        <svg class="tt-icon">
                                          <use xlink:href="#icon-color_picker"></use>
                                        </svg>
                                    </button></li> -->
                                </ul>
                            </div>
                            <textarea name="problems[0].text" class="form-control" rows="5" placeholder="사진에 대한 설명 및 질문을 입력하세요."></textarea>
                        </div>
                    </div>
                  </div>
                  <div class="pt-editor">
                    <div class="row">
                      <div class="col-auto ml-auto">
                          <a class="btn btn-secondary btn-custom" style="color:#fff; cursor:pointer; background:#000;" onclick="addQuestion()">+</a>
                      </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-5">
                          <h5 class="pt-title">추가옵션</h5>
                          <div class="checkbox-group">
                            <input type="checkbox" id="searcCheckBox01" name="isNew">
                            <label for="searcCheckBox01">
                                <span class="check"></span>
                                <span class="box"></span>
                                <span class="tt-text">새로운 문제풀이</span>
                            </label>
                          </div>
                            <div class="checkbox-group">
                              <input type="checkbox" id="searcCheckBox02" name="isDetail">
                              <label for="searcCheckBox02">
                                  <span class="check"></span>
                                  <span class="box"></span>
                                  <span class="tt-text">풀이 상세설명</span>
                              </label>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="language">
                                    <option value="Select">풀이 언어</option>
                                    <option value="Value 01">한국어</option>
                                    <option value="Value 02">English</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5 class="pt-title">마감일</h5>
                            <div class="form-group" style="float:left;">
                                <select class="form-control" name="year">
                                    <option value="Select">2020</option>
                                    <option value="Value 01">2021</option>
                                    <option value="Value 02">2021</option>
                                    <option value="Value 02">2022</option>
                                    <option value="Value 02">2023</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:left; margin:0px 20px 0px 20px;">
                                <select class="form-control" name="month">
                                    <option value="Select">01</option>
                                    <option value="Value 01">02</option>
                                    <option value="Value 02">03</option>
                                    <option value="Value 02">04</option>
                                    <option value="Value 02">05</option>
                                    <option value="Value 02">06</option>
                                    <option value="Value 02">07</option>
                                    <option value="Value 02">08</option>
                                    <option value="Value 02">09</option>
                                    <option value="Value 02">10</option>
                                    <option value="Value 02">11</option>
                                    <option value="Value 02">12</option>
                                </select>
                            </div>
                            <div class="form-group" style="float:left;">
                                <select class="form-control" name="day">
                                    <option value="Select">01</option><option value="Value 01">02</option><option value="Value 01">03</option><option value="Value 01">04</option>
                                    <option value="Value 01">05</option><option value="Value 01">06</option><option value="Value 01">07</option><option value="Value 01">08</option>
                                    <option value="Value 01">09</option><option value="Value 01">10</option><option value="Value 01">11</option><option value="Value 01">12</option>
                                    <option value="Value 01">13</option><option value="Value 01">14</option><option value="Value 01">15</option><option value="Value 01">16</option>
                                    <option value="Value 01">17</option><option value="Value 01">18</option><option value="Value 01">19</option><option value="Value 01">20</option>
                                    <option value="Value 01">21</option><option value="Value 01">22</option><option value="Value 01">23</option><option value="Value 01">24</option>
                                    <option value="Value 01">25</option><option value="Value 01">26</option><option value="Value 01">27</option><option value="Value 01">28</option>
                                    <option value="Value 01">29</option><option value="Value 01">30</option><option value="Value 01">31</option>
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-auto ml-md-auto">
                            <input type="submit" class="btn btn-secondary btn-width-lg" style="color:#fff; cursor:pointer;" value="결제하기"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="../js/bundle.js"></script>

<script>
  // 미리보기 이미지등록
  imagePreView(document.getElementById("imageFile_01"));

  // n 길이가 width보다 아래일때, n 앞에 0을 붙혀줌
  function numberPad(n, width) {
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
  }

 	// 파일업로드
	function ajaxFileUpload(mIndex) {
    $("#imageFile_" + numberPad(mIndex,2)).click();
  }

  // 이미지 미리보기 지원하는 함수
	function imagePreView(target, callback){
    var num = (target.id).split("_")[1];
    var img = new Image();
    target.onchange = function (e) {
      e.preventDefault();
      var file = target.files[0], reader = new FileReader();
      reader.onload = function (event) {
        img.src = event.target.result;
        img.width = 150;
        img.height = 220;
        img.id=target.id;
				$("#image_"+num).attr("src", img.src);
      };
			reader.readAsDataURL(file);
			$(target.id).css("cursor","pointer");
    };
  }

  // 질문 row 추가
  function addQuestion(){
    var length = $("#question-row").children().length;
    $("#question-row").append(""+
      "<div class=\"row\" style=\"border-bottom:1px solid #e2e7ea;\">"+
      "<div class=\"col-md-3\">"+
          "<ul class=\"pt-edit-btn\">"+
              "<li>"+
                "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>사진</h4></button>"+
              "</li>"+
          "</ul>"+
          "<div class=\"form-group\">"+
              "<a href=\"#\" class=\"tt-button-icon\">"+
                  "<span class=\"tt-icon\">"+
                    "<img style=\"max-width:120px; max-height:120px; min-width:120px; min-height:120px;\" id=\"image_"+numberPad(length,2)+"\" onclick=\"ajaxFileUpload('"+length+"')\"></img>"+
                    "<input type=\"file\" name=\"problems[" + (length-1) +"].file\" id=\"imageFile_" + numberPad(length,2) + "\" style=\"display:none;\"></img>"+
                    "<input type=\"text\" name=\"problems[" + (length-1) + "].number\" style=\"display:none;\" value=\"" + (length-1) + "\"/>"+
                  "</span>"+
              "</a>"+
          "</div>"+
      "</div>"+
      "<div class=\"col-md-9\">"+
          "<div class=\"col-left\">"+
              "<ul class=\"pt-edit-btn\">"+
                  "<li>"+
                    "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>질문내용</h4></button>"+
                  "</li>"+
                  // "<li>"+
                  //   "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>∞</h4></button>"+
                  // "</li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-italic\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-share_topic\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-blockquote\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-performatted\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li class=\"hr\"></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-upload_files\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-bullet_list\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-heading\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-horizontal_line\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-emoticon\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-settings\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
                  // "<li><button type=\"button\" class=\"btn-icon\">"+
                  //     "<svg class=\"tt-icon\">"+
                  //       "<use xlink:href=\"#icon-color_picker\"></use>"+
                  //     "</svg>"+
                  // "</button></li>"+
              "</ul>"+
          "</div>"+
          "<textarea name=\"problems[" + (length-1) + "].text\" class=\"form-control\" rows=\"5\" placeholder=\"질문내용을 입력하세요\"></textarea>"+
      "</div>"+
      "</div>");
      imagePreView(document.getElementById("imageFile_"+numberPad(length,2)));
  }
</script>
<svg th:replace="solution/svg/svg :: svg"></svg>
</body>
</html>
