<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" href="/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">
   <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
      <header th:replace="solution/widget/pc-menu :: p-menu"></header>
      <main id="tt-pageContent"  class="tt-offset-small">
         <input type="text" name="type" style="display:none;" value="0" th:value="${session.user?.type}">
         <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
         <div class="container" style="max-width:1600px;">
            <div class="tt-messages-layout">
               <div class="row no-gutters">

                 <!-- 채팅 Layout -->
                  <div class="col-md-3 tt-aside" id="js-aside">
                    <a class="tt-title-aside">
                        <h2 class="tt-title">
                            Messages
                        </h2>
                        <i class="tt-icon">
                            <svg class="icon">
                              <use xlink:href="#icon-pencil"></use>
                            </svg>
                        </i>
                     </a>
                     <div class="tt-all-avatar">
                        <div class="tt-list-avatar js-init-scroll" id="chat-row">
                          <a class="tt-item" th:each="chats : ${solution.chats}">

                            <!-- 프로필 -->
                            <div class="tt-col-avatar" >
                              <svg class="tt-icon">
                                <use th:xlink:href="${chats.writer} == 2 ? '#icon-ava-a' : '#icon-ava-q'">
                              </use>
                              </svg>
                            </div>

                            <!-- 닉네임 or 직책 -->
                            <div class="tt-col-description">
                            <h4 class="tt-title">
                              <span th:text="${chats.writer} == 2 ? '운영자' : '질문자(' + ${solution.user?.nickname} + ')'">작성자</span>
                              <span class="time" th:text="${#temporals.format(chats.date, 'hh:mm')}">date</span>
                            </h4>

                            <!-- 채팅 내용-->
                            <div class="tt-message" th:if="${chats.type == 'CHAT'}" >
                              <p th:utext="${#strings.replace( #strings.escapeXml( chats.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                            </div>
                            <div class="tt-message" th:unless="${chats.type == 'CHAT'}" th:onclick="newWindowImage([[${chats.content}]])">
                              <p >
                                <img class="tt-offset-11" th:src="'img?id=' + ${chats.content}" alt="" style="max-width:200px; max-height:300px; width:auto; height:auto;" th:data-src="'img?id=' + ${chats.content}" ></img>
                              </p>
                            </div>
                          </div>
                        </a>
                        </div>

                        <!-- 채팅 쓰기 -->
                        <form class="pt-editor form-default" id="chat-form" enctype="multipart/form-data">
                           <h6 class="pt-title">질문에 대해 궁금한점을 물어보세요.</h6>
                           <div class="form-group">
                              <textarea id="chat-message" class="form-control" rows="5" placeholder="내용을 입력해주세요."></textarea>
                           </div>
                           <div class="pt-row">
                              <div class="col-auto" style="width:100%;" >
                                <input type="file" id="chat-image-form" style="display:none;"/>
                                  <a class="btn btn-primary" style="cursor:pointer; float:right;" onclick="chatImageUpload()">
                                    <i class="zmdi zmdi-camera-add" style="cursor:pointer;" onclick="onStar(5);"></i>
                                  </a>
                                <input class="btn btn-secondary btn-width-lg" type="submit" style="cursor:pointer; color:#fff; float:right;" value="입력"/>
                              </div>
                           </div>
                        </form>

                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="container">
                        <div class="tt-single-topic-list">
                           <div class="tt-item">
                              <div class="tt-single-topic">
                                 <div class="tt-item-header">

                                   <!-- 게시물정보 -->
                                    <div class="tt-item-info info-top">
                                       <div class="tt-avatar-icon">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-ava-q"></use>
                                             </svg>
                                          </i>
                                       </div>
                                       <div class="tt-avatar-title">
                                          <a id="nickname" th:text="${solution.user?.nickname} + '님'">닉네임</a>
                                       </div>
                                       <a class="tt-info-time">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-time"></use>
                                             </svg>
                                          </i>
                                          <span th:text="${#temporals.format(solution.upload_date, 'yyyy-MM-dd HH:mm')}">날짜</span>
                                          <svg class="tt-icon" style="margin-left:20px; width:15px; height:15px; cursor:pointer;" onclick="on(0, null)">
                                             <use xlink:href="#icon-upload_files"></use>
                                          </svg>
                                       </a>
                                    </div>

                                    <!-- 질문제목 -->
                                    <h3 class="tt-item-title">
                                       <a th:text="${solution.title}">질문제목</a>
                                    </h3>

                                    <!-- 과목 태그리스트 -->
                                    <div class="tt-item-tag">
                                       <ul class="tt-list-badge" th:if="${#lists.size(solution.subjects)} > 0">
                                          <li th:each="list : ${solution.subjects}"><a><span class="tt-badge" th:text="${list.subject.name}"></span></a></li>
                                       </ul>
                                    </div>

                                    <!-- 질문 내용-->
                                    <div class="tt-item-description" >
                                      <p th:utext="${#strings.replace( #strings.escapeXml( solution.content ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">문제내용</p>
                                    </div>
                                 </div>

                                 <!-- 질문 내용 + 사진 슬라이드 -->
                                 <div id="questionSlider" class="carousel slide" data-ride="carousel" style="padding:10px 10px 30px 10px;" data-interval="false">
                                    <a id="screenShot" style="display:none;"></a>
                                    <ol class="carousel-indicators" style="margin:0px;">
                                       <li
                                          data-target="#questionSlider"
                                          th:data-slide-to=${num.index}
                                          th:each="problems,num : ${solution.problem}"
                                          th:class="${num.index} == 0 ? active" >
                                       </li>
                                    </ol>
                                    <div class="carousel-inner">
                                       <div class="carousel-item"
                                          style="padding:30px;"
                                          th:each="problems,num : ${solution.problem}"
                                          th:classappend="${num.index} == 0 ? active">
                                          <img class="d-block"
                                                style="max-width:30%; margin-left:3%; float:left;  max-height:300px; cursor:pointer;"
                                                th:src="${problems.image_url} != null  ? '/solution/img?id=' + ${problems.image_url} : '/images/img-thumb.jpg'"
                                                th:onclick="newWindowImage([[${problems.image_url}]])"/>
                                          <div class="d-block" style="max-width:60%; margin-left:7%; float:left;">
                                             <p style="word-break:break-all;"
                                                th:utext="${problems.text} == '' ? '사진에 대한 설명이 없습니다.' : ${#strings.replace( #strings.escapeXml( problems.text ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"
                                                ></p>
                                          </div>
                                       </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#questionSlider" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#questionSlider" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                 </div>

                              </div>
                           </div>
                           <div class="tt-item tt-wrapper-success" th:if="${solution.state.id > 3}">
                              <div class="tt-single-topic" style="padding:30px 30px 30px 30px;">
                                 <div class="tt-item-header pt-noborder">
                                    <div class="tt-item-info info-top">
                                       <div class="tt-avatar-title" style="padding-left:0px;">
                                          <i class="tt-icon" style="float:left;">
                                             <svg style="max-width:30px; height:30px;">
                                                <use xlink:href="#icon-ava-a"></use>
                                             </svg>
                                          </i>
                                          <a style="float:left; font-weight:bold; margin-left:10px; font-size:17px; height:30px; line-height:30px;">
                                          운영자
                                          </a>
                                       </div>
                                       <a  class="tt-info-time">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-time"></use>
                                             </svg>
                                          </i>
                                          <span th:text="${#temporals.format(solution.answer.answer_date, 'yyyy-MM-dd HH:mm')}">대답 날짜</span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="tt-item-description">
                                    <h6 class="tt-title" th:text="${solution.answer.content}">대답 내용</h6>
                                 </div>
                                 <div id="answerSlider" class="carousel slide" data-ride="carousel" style="padding:50px 10px 30px 10px;" data-interval="false">
                                    <ol class="carousel-indicators" style="margin:0px;">
                                       <li
                                          data-target="#answerSlider"
                                          th:data-slide-to=${num.index}
                                          th:each="answers,num : ${solution.answer.answer_sub}"
                                          th:class="${num.index} == 0 ? active" >
                                       </li>
                                    </ol>
                                    <div class="carousel-inner">
                                       <div class="carousel-item"
                                          style="padding:30px;"
                                          th:each="answers,num : ${solution.answer.answer_sub}"
                                          th:classappend="${num.index} == 0 ? active">
                                          <img class="d-block" th:src="${answers.image_url} != null  ? '/solution/img?id=' + ${answers.image_url} : '/images/img-thumb.jpg'"style="max-width:30%; margin-left:3%; float:left; max-height:300px; cursor:pointer;" th:onclick="newWindowImage([[${answers.image_url}]])"/>
                                          <div class="d-block" style="max-width:60%; margin-left:7%; float:left;">
                                            <p style="word-break:break-all;" th:utext="${answers.text} == '' ? '사진에 대한 설명이 없습니다.' : ${#strings.replace( #strings.escapeXml( answers.text ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">asdfasd</p>
                                          </div>
                                       </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#answerSlider" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#answerSlider" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <h4 class="tt-title-separator">
                              <span>You’ve reached the end of replies</span>
                           </h4>
                        </div>
                        <form th:if="${session.user?.username != null and solution.state.id < 4 && session.user?.type == 2}" action="/solution/answer" enctype="multipart/form-data" method="POST">
                           <div class="pt-editor form-default" id="answer-row">
                              <h6 class="pt-title">질문에 대한 답변을 입력해주세요.</h6>
                              <div class="row" style="border-bottom:1px solid #e2e7ea;">
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <label for="inputTopicTitle">대표 답변</label>
                                       <div class="tt-value-wrapper">
                                          <textarea name="content" class="form-control" rows="5" placeholder="답변의 대표내용을 입력해주세요."></textarea>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-3">
                                    <ul class="pt-edit-btn">
                                       <li>
                                          <button type="button" class="btn-icon" style="cursor:">
                                             <h4>사진</h4>
                                          </button>
                                       </li>
                                    </ul>
                                    <div class="form-group">
                                       <a class="tt-button-icon" style="cursor:pointer;">
                                       <span class="tt-icon">
                                         <img style="max-width:120px; max-height:120px; min-width:120px; min-height:120px;" id="image_01" onclick="ajaxFileUpload('1')">
                                         <input type="file" name="answerSub[0].file" id="imageFile_01" style="display:none;">
                                         <input type="text" name="answerSub[0].number" style="display:none;" value="0">
                                         <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
                                       </span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="col-md-9">
                                    <div class="col-left">
                                       <ul class="pt-edit-btn">
                                          <li>
                                             <button type="button" class="btn-icon">
                                                <h4>답변내용</h4>
                                             </button>
                                          </li>
                                       </ul>
                                    </div>
                                    <textarea name="answerSub[0].text" class="form-control" rows="5" placeholder="사진에 대한 설명 및 답변을 입력하세요."></textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="pt-editor">
                              <div class="row">
                                 <div class="col-auto ml-auto">
                                    <a class="btn btn-secondary btn-custom" style="color:#fff; cursor:pointer; background:#000;" onclick="addQuestion()">+</a>
                                    <input class="btn btn-secondary btn-width-lg" style="color:#fff;" type="submit" value="답변등록"/>
                                 </div>
                              </div>
                           </div>
                        </form>
                        <form th:if="${session.user?.type != 2 and solution.state.id == 4}" action="/solution/review" enctype="multipart/form-data" method="POST">
                           <div class="pt-editor form-default">
                              <h6 class="pt-title">만족하셨다면 리뷰를 작성해주세요.</h6>
                              <div class="form-group" style="float:right;">
                                 <h6 class="pt-title" style="float:left;">평점&nbsp&nbsp:&nbsp&nbsp</h6>
                                 <div id="star-list" class="star-rating" style="float:left;">
                                    <i class="zmdi zmdi-star" style="cursor:pointer; color:#d81159;" onclick="onStar(1);"></i>
                                    <i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(2);"></i>
                                    <i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(3);"></i>
                                    <i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(4);"></i>
                                    <i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(5);"></i>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <textarea name="text" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                              </div>
                              <div class="pt-row">
                                 <div class="col-auto"></div>
                                 <div class="col-auto">
                                    <input type="text" name="score" value="1" style="display:none;"/>
                                    <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
                                    <input class="btn btn-secondary btn-width-lg" style="color:#fff;" type="submit" value="리뷰 등록"/>
                                 </div>
                              </div>
                           </div>
                        </form>
                        <div th:if="${solution.state.id > 4}">
                           <div class="pt-editor form-default">
                              <h6 class="pt-title" style="float:left; margin-right:10px;">Review</h6>
                              <input type="text" name="score" value="1" style="display:none;"/>
                              <div class="form-group">
                                 <div id="star-list" class="star-rating">
                                    <span>(</span>
                                    <i class="zmdi zmdi-star" th:style="${solution.score} >= 1 ? 'color:#d81159;'"></i>
                                    <i class="zmdi zmdi-star" th:style="${solution.score} >= 2 ? 'color:#d81159;'"></i>
                                    <i class="zmdi zmdi-star" th:style="${solution.score} >= 3 ? 'color:#d81159;'"></i>
                                    <i class="zmdi zmdi-star" th:style="${solution.score} >= 4 ? 'color:#d81159;'"></i>
                                    <i class="zmdi zmdi-star" th:style="${solution.score} >= 5 ? 'color:#d81159;'"></i>
                                    <span>)</span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <p style="padding:20px;" th:text="${solution.review}"></p>
                              </div>
                              <div class="pt-row">
                                 <div class="col-auto"></div>
                                 <div class="col-auto"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <script th:src="@{/js/bundle.js}"></script>
      <script th:src="@{/js/utils.js}"></script>
      <script th:src="@{/js/detail.js}"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <script>
         fileNamePreView(document.getElementById("chat-image-form"));
         imagePreView(document.getElementById("imageFile_01"));
         var username = "[[${session.user?.username}]]";
         var solution_id = "[[${param.id}]]";
         var type = "[[${session.user?.type}]]";
      </script>
      <script th:src="@{/js/detail_socket.js}"></script>
   </body>
</html>
