<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="solution/widget/head :: head"></head>
<body>
<!-- tt-mobile menu -->
<nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
<header th:replace="solution/widget/pc-menu :: p-menu"></header>
<main id="tt-pageContent"  class="tt-offset-small">
    <div class="container" style="max-width:1600px;">
        <div class="tt-messages-layout">
            <div class="row no-gutters">
                <div class="col-md-3 tt-aside" id="js-aside">
                    <a  class="tt-title-aside">
                        <h2 class="tt-title">
                            Messages
                        </h2>
                    </a>
                    <div class="tt-all-avatar">
                        <div class="tt-list-avatar js-init-scroll">
                            <a  class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-ava-a"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><span>운영자</span> <span class="time">Oct 23 11:13</span></h4>
                                    <div class="tt-message">답변이 등록되었습니다.<br>이용해주셔서 감사합니다.</div>
                                </div>
                            </a>
                            <a  class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-ava-q"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><span>서**</span> <span class="time">23 Oct 11:15</span></h4>
                                    <div class="tt-message">궁금한게 있는데요</div>
                                    <div class="tt-message">
                                    <p>
                                        <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="" style="max-width:200px;">
                                    </p>

                                    </div>
                                </div>
                            </a>
                            <a  class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-ava-a"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><span>운영자</span> <span class="time">23 Oct 11:20</span></h4>
                                   <div class="tt-message">네 말씀해주세요.</div>
                                </div>
                            </a>
                            <a  class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-ava-q"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><span>서**</span> <span class="time">Jan 24 11:30</span></h4>
                                   <div class="tt-message">애국가 3절은 무엇인가요?</div>
                                </div>
                            </a>
                            <a  class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-ava-a"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                  <h4 class="tt-title"><span>운영자</span> <span class="time">Jan 24 11:32</span></h4>
                                  <div class="tt-message">
                                  가을 하늘 공활한데 높고 구름 없이<br>
                                  밝은 달은 우리 가슴 일편단심일세.<br>
                                  무궁화 삼천리 화려강산<br>
                                  대한 사람, 대한으로 길이 보전하세<br>
                                  <p>
                                      <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="" style="max-width:200px;">
                                  </p>

                                  </div>
                                </div>
                            </a>
                        </div>
                        <div class="pt-editor form-default">
                            <h6 class="pt-title">답변에 대해 궁금한점을 물어보세요.</h6>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                            </div>
                            <div class="pt-row">
                                <div class="col-auto">
                                    <a  class="btn btn-secondary btn-width-lg">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9"><div class="container">
                    <div class="tt-single-topic-list">
                        <div class="tt-item">
                             <div class="tt-single-topic">
                                <div class="tt-item-header">
                                    <div class="tt-item-info info-top">
                                        <div class="tt-avatar-icon">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-ava-q"></use></svg></i>
                                        </div>
                                        <div class="tt-avatar-title">
                                           <a >서**님</a>
                                        </div>
                                        <a  class="tt-info-time">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>23 Oct,2020
                                        </a>
                                    </div>
                                    <h3 class="tt-item-title">
                                        <a >애국가 4절이 무엇인가요?</a>
                                    </h3>
                                    <div class="tt-item-tag">
                                        <ul class="tt-list-badge">
                                            <li><a ><span class="tt-badge">과목이름</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tt-item-description">
                                  <p>
                                      안녕하세요 문제은행님,<br>
                                      애국가 4절을 알려주세요.
                                  </p>
                                  <p>
                                      <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="">
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="tt-item tt-wrapper-success">
                             <div class="tt-single-topic">
                                <div class="tt-item-header pt-noborder">
                                    <div class="tt-item-info info-top">
                                        <div class="tt-avatar-icon">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-ava-a"></use></svg></i>
                                        </div>
                                        <div class="tt-avatar-title">
                                           <a >문제은행</a>
                                           <span class="tt-color07 tt-badge">답변완료</span>
                                        </div>
                                        <a  class="tt-info-time">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>6 Jan,2019
                                        </a>
                                    </div>
                                </div>
                                <div class="tt-item-description">
                                    <h6 class="tt-title">안녕하세요! 서**님 질문에 대한 답변입니다.</h6>
                                    <p>
                                        이 기상과 이 맘으로 충성을 다하여<br>
                                        괴로우나 즐거우나 나라 사랑하세.<br>
                                        무궁화 삼천리 화려강산<br>
                                        대한 사람, 대한으로 길이 보전하세<br>
                                    </p>
                                    <p>
                                        <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>

                    <div class="pt-editor form-default">
                        <h6 class="pt-title">만족하셨다면 리뷰를 작성해주세요.</h6>
                        <div class="form-group">
                            <textarea name="message" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                        </div>
                        <div class="pt-row">
                          <div class="col-auto">
                              <div class="checkbox-group">
                                  <input type="checkbox" id="checkBox21" name="checkbox" checked="">
                                  <label for="checkBox21">
                                      <span class="check"></span>
                                      <span class="box"></span>
                                      <span class="tt-text">리뷰 전체공개</span>
                                  </label>
                              </div>
                          </div>
                          <div class="col-auto">
                              <a  class="btn btn-secondary btn-width-lg">등록하기</a>
                          </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../js/bundle.js"></script>
<svg th:replace="solution/svg/svg :: svg"></svg>
</body>
</html>
