<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
      <header th:replace="solution/widget/pc-menu :: p-menu"></header>
      <main id="tt-pageContent"  class="tt-offset-small">
        <input type="text" name="grade" style="display:none;" value="0" th:value="${session.user?.username}">
        <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
         <div class="container" style="max-width:1600px;">
            <div class="tt-messages-layout">
               <div class="row no-gutters">
                  <div class="col-md-3 tt-aside" id="js-aside">
                     <a  class="tt-title-aside">
                        <h2 class="tt-title">
                           Messages
                        </h2>
                     </a>
                     <div class="tt-all-avatar">
                        <div class="tt-list-avatar js-init-scroll">
                           <a class="tt-item">
                              <div class="tt-col-avatar">
                                 <svg class="tt-icon">
                                    <use xlink:href="#icon-ava-a"></use>
                                 </svg>
                              </div>
                              <div class="tt-col-description">
                                 <h4 class="tt-title"><span>운영자</span> <span class="time">Oct 23 11:13</span></h4>
                                 <div class="tt-message">답변이 등록되었습니다.<br>이용해주셔서 감사합니다.</div>
                              </div>
                           </a>
                           <a class="tt-item">
                              <div class="tt-col-avatar">
                                 <svg class="tt-icon">
                                    <use xlink:href="#icon-ava-q"></use>
                                 </svg>
                              </div>
                              <div class="tt-col-description">
                                 <h4 class="tt-title"><span>서**</span> <span class="time">23 Oct 11:15</span></h4>
                                 <div class="tt-message">궁금한게 있는데요</div>
                                 <div class="tt-message">
                                    <p>
                                       <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="" style="max-width:200px;">
                                    </p>
                                 </div>
                              </div>
                           </a>
                           <a class="tt-item">
                              <div class="tt-col-avatar">
                                 <svg class="tt-icon">
                                    <use xlink:href="#icon-ava-a"></use>
                                 </svg>
                              </div>
                              <div class="tt-col-description">
                                 <h4 class="tt-title"><span>운영자</span> <span class="time">23 Oct 11:20</span></h4>
                                 <div class="tt-message">네 말씀해주세요.</div>
                              </div>
                           </a>
                           <a class="tt-item">
                              <div class="tt-col-avatar">
                                 <svg class="tt-icon">
                                    <use xlink:href="#icon-ava-q"></use>
                                 </svg>
                              </div>
                              <div class="tt-col-description">
                                 <h4 class="tt-title"><span>서**</span> <span class="time">Jan 24 11:30</span></h4>
                                 <div class="tt-message">애국가 3절은 무엇인가요?</div>
                              </div>
                           </a>
                           <a class="tt-item">
                              <div class="tt-col-avatar">
                                 <svg class="tt-icon">
                                    <use xlink:href="#icon-ava-a"></use>
                                 </svg>
                              </div>
                              <div class="tt-col-description">
                                 <h4 class="tt-title"><span>운영자</span> <span class="time">Jan 24 11:32</span></h4>
                                 <div class="tt-message">
                                    가을 하늘 공활한데 높고 구름 없이<br>
                                    밝은 달은 우리 가슴 일편단심일세.<br>
                                    무궁화 삼천리 화려강산<br>
                                    대한 사람, 대한으로 길이 보전하세<br>
                                    <p>
                                       <img class="tt-offset-11" src="../images/single-topic-img01.jpg" alt="" style="max-width:200px;">
                                    </p>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <div class="pt-editor form-default">
                           <h6 class="pt-title">답변에 대해 궁금한점을 물어보세요.</h6>
                           <div class="form-group">
                              <textarea name="chat-message" class="form-control" rows="5" placeholder="내용을 입력해주세요."></textarea>
                           </div>
                           <div class="row">
                             <div class="col-md-9">
                               <div class="form-group">
                                 <div class="tt-value-wrapper">
                                     <input type="text" id="chat-image-name"name="title" class="form-control" disabled/>
                                 </div>
                               </div>
                             </div>
                             <div class="col-md-3">
                               <div class="form-group">
                                 <div class="tt-value-wrapper">
                                   <a class="btn btn-primary" style="cursor:pointer;" onclick="chatImageUpload()">

               											<i class="zmdi zmdi-camera-add" style="cursor:pointer;" onclick="onStar(5);"></i>
                                   </a>
                                   <input type="file" id="chat-image-form" style="display:none;"/>
                                 </div>
                               </div>
                             </div>
                           </div>
                           <div class="pt-row">
                              <div class="col-auto">
                                 <a class="btn btn-secondary btn-width-lg" onclick="onChat()" style="cursor:pointer; color:#fff;">입력</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="container">
                        <div class="tt-single-topic-list">
                           <div class="tt-item">
                              <div class="tt-single-topic">
                                 <div class="tt-item-header">
                                    <div class="tt-item-info info-top">
                                       <div class="tt-avatar-icon">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-ava-q"></use>
                                             </svg>
                                          </i>
                                       </div>
                                       <div class="tt-avatar-title">
                                          <a th:text="${solution.nickname} + '님'">닉네임</a>
                                       </div>
                                       <a  class="tt-info-time">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-time"></use>
                                             </svg>
                                          </i>
                                          <span th:text="${solution.upload_date}">날짜</span>
                                       </a>
                                    </div>
                                    <h3 class="tt-item-title">
                                       <a th:text="${solution.title}">질문제목</a>
                                    </h3>
                                    <div class="tt-item-tag">
                                       <ul class="tt-list-badge">
                                          <li><a ><span class="tt-badge">과목이름</span></a></li>
                                       </ul>
                                    </div>
                                    <div class="tt-item-description" th:text="${solution.content}">
                                       <p th:text="${problems.text}">문제내용</p>
                                       <p>
                                          <img class="tt-offset-11" th:src="'/solution/img?id=' + ${problems.image_url}" alt="">
                                       </p>
                                    </div>
                                 </div>
                                 <div class="tt-item-description" th:each="problems : ${solution.problem}">
                                    <p th:text="${problems.text}">문제내용</p>
                                    <p>
                                       <img class="tt-offset-11" th:src="'/solution/img?id=' + ${problems.image_url}" alt="">
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div class="tt-item tt-wrapper-success" th:if="${solution.state.id > 3}">
                              <div class="tt-single-topic">
                                 <div class="tt-item-header pt-noborder">
                                    <div class="tt-item-info info-top">
                                       <div class="tt-avatar-icon">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-ava-a"></use>
                                             </svg>
                                          </i>
                                       </div>
                                       <div class="tt-avatar-title">
                                          <a >문제은행</a>
                                          <span class="tt-color07 tt-badge" th:text="${solution.state.name}">답변상태</span>
                                       </div>
                                       <a  class="tt-info-time">
                                          <i class="tt-icon">
                                             <svg>
                                                <use xlink:href="#icon-time"></use>
                                             </svg>
                                          </i>
                                          <span th:text="${solution.answer.answer_date}">대답 날짜</span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="tt-item-description">
                                    <h6 class="tt-title" th:text="${solution.answer.content}">대답 내용</h6>
                                 </div>
                                 <div class="tt-item-description" th:each="answers : ${solution.answer.answer_sub}">
                                    <p th:text="${answers.text}">대답 내용</p>
                                    <p>
                                       <img class="tt-offset-11" th:src="'/solution/img?id=' + ${answers.image_ur}" alt="">
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <h4 class="tt-title-separator">
                             <span>You’ve reached the end of replies</span>
                           </h4>
                        </div>
                        <form th:if="${session.user?.username != null and solution.state.id < 4}" action="/solution/answer" enctype="multipart/form-data" method="POST">
                           <div class="pt-editor form-default" id="answer-row">
                              <h6 class="pt-title">질문에 대한 답변을 입력해주세요.</h6>
                              <div class="row" style="border-bottom:1px solid #e2e7ea;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputTopicTitle">대표 답변</label>
                                        <div class="tt-value-wrapper">
                                          <textarea name="content" class="form-control" rows="5" placeholder="답변의 대표내용을 입력해주세요."></textarea>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <ul class="pt-edit-btn">
                                       <li>
                                          <button type="button" class="btn-icon" style="cursor:">
                                             <h4>사진</h4>
                                          </button>
                                       </li>
                                    </ul>
                                    <div class="form-group">
                                       <a class="tt-button-icon" style="cursor:pointer;">
                                       <span class="tt-icon">
                                       <img style="max-width:120px; max-height:120px; min-width:120px; min-height:120px;" id="image_01" onclick="ajaxFileUpload('1')">
                                       <input type="file" name="answerSub[0].file" id="imageFile_01" style="display:none;">
                                       <input type="text" name="answerSub[0].number" style="display:none;" value="0">
                                       <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
                                       </span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="col-md-9">
                                    <div class="col-left">
                                       <ul class="pt-edit-btn">
                                          <li>
                                             <button type="button" class="btn-icon">
                                                <h4>답변내용</h4>
                                             </button>
                                          </li>
                                       </ul>
                                    </div>
                                    <textarea name="answerSub[0].text" class="form-control" rows="5" placeholder="사진에 대한 설명 및 답변을 입력하세요."></textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="pt-editor">
                              <div class="row">
                                 <div class="col-auto ml-auto">
                                    <a class="btn btn-secondary btn-custom" style="color:#fff; cursor:pointer; background:#000;" onclick="addQuestion()">+</a>
                                    <input class="btn btn-secondary btn-width-lg" style="color:#fff;" type="submit" value="답변등록"/>
                                 </div>
                              </div>
                           </div>
                        </form>

                        <form th:if="${session.user?.username == null and solution.state.id == 4}" action="/solution/review" enctype="multipart/form-data" method="POST">
                          <div class="pt-editor form-default">
                             <h6 class="pt-title">만족하셨다면 리뷰를 작성해주세요.</h6>
                             <div class="form-group" style="float:right;">
                                <h6 class="pt-title" style="float:left;">평점&nbsp&nbsp:&nbsp&nbsp</h6>
            										<div id="star-list" class="star-rating" style="float:left;">
            											<i class="zmdi zmdi-star" style="cursor:pointer; color:#d81159;" onclick="onStar(1);"></i>
            											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(2);"></i>
            											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(3);"></i>
            											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(4);"></i>
            											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(5);"></i>
            										</div>
            									</div>
                             <div class="form-group">
                                <textarea name="text" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                             </div>
                             <div class="pt-row">
                                <div class="col-auto"></div>
                                <div class="col-auto">
                                  <input type="text" name="score" value="1" style="display:none;"/>
                                  <input type="text" name="solution_id" style="display:none;" value="0" th:value="${param.id}">
                                  <a class="btn btn-secondary btn-width-lg" style="color:#fff;" type="submit" value="리뷰 등록">리뷰등록</a>
                                </div>
                             </div>
                          </div>
                        </form>

                        <div th:if="${solution.state.id > 4}">
                            <div class="pt-editor form-default">
                               <h6 class="pt-title" th:text="${solution.nickname} + '님'" style="float:left; margin-right:10px;">Review</h6>
                               <input type="text" name="score" value="1" style="display:none;"/>
                               <div class="form-group">
              										<div id="star-list" class="star-rating">
                                    <span>(</span>
              											<i class="zmdi zmdi-star" style="cursor:pointer; color:#d81159;" onclick="onStar(1);"></i>
              											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(2);"></i>
              											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(3);"></i>
              											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(4);"></i>
              											<i class="zmdi zmdi-star" style="cursor:pointer;" onclick="onStar(5);"></i>

                                    <span>)</span>
              										</div>
              									</div>
                                <div class="form-group">
                                  <p style="padding:20px;" th:text="${solution.review}">

                                  </p>
                                </div>
                               <div class="pt-row">
                                  <div class="col-auto"></div>
                                  <div class="col-auto"></div>
                               </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <script th:src="@{/js/bundle.js}"></script>
      <script th:src="@{/js/ajaxApi.js}"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>

      <script>
      fileNamePreView(document.getElementById("chat-image-form"));
      imagePreView(document.getElementById("imageFile_01"));

      // 평점 별을 클릭할때 발생하는 이벤트 처리
      function onStar(score){
        $("input[name=score]").val(score);
        var list = $("#star-list").children();
        for (var i = 0; i < list.length; i++) {
          if(i < score) list[i].style.color = "#d81159";
          else list[i].style.color = "#666f74";
        }
      }

      // 채팅 "입력" 버튼을 클릭할때 발생하는 이벤트 처리
      function onChat(){
        var user = $("input[name=grade]").val();
        var solution_id = $("input[name=solution_id]").val();
        var content = $("textarea[name=chat-message]").val();
        var image_url = document.getElementById('chat-image-form').files[0];
        var writer = 0;
        // 로그인이 된 상태라면 => 관리자라면
        if(user) writer = 1;
        else writer = 0;

        var formData = new FormData();
        console.log("formData : " , formData);
        formData.append("solution_id", solution_id);
        formData.append("writer", writer);
        formData.append("file", image_url);
        formData.append("content", content);

        postAPI("/solution/chat",
        formData,
        function(result){
          var a = sortBy(result, { prop: "date" });
          console.log("a : " , a);
        });
      }

      // n 길이가 width보다 아래일때, n 앞에 0을 붙혀줌
      function numberPad(n, width) {
          n = n + '';
          return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
      }

      // 파일업로드
      function ajaxFileUpload(mIndex) {
        $("#imageFile_" + numberPad(mIndex,2)).click();
      }

      // 파일업로드
      function chatImageUpload() {
        $("#chat-image-form").click();
      }

      // 이미지 미리보기 지원하는 함수
      function imagePreView(target, callback){
        var num = (target.id).split("_")[1];
        var img = new Image();
        target.onchange = function (e) {
          e.preventDefault();
          var file = target.files[0], reader = new FileReader();
          reader.onload = function (event) {
            img.src = event.target.result;
            img.width = 150;
            img.height = 220;
            img.id=target.id;
            $("#image_"+num).attr("src", img.src);
          };
          reader.readAsDataURL(file);
          $(target.id).css("cursor","pointer");
        };
      }

      // 파일명 미리보기 함수
      function fileNamePreView(target, callback){
        console.log("target : " , target)
        var num = (target.id).split("_")[1];
        var img = new Image();
        target.onchange = function (e) {
          e.preventDefault();
          var file = target.files[0], reader = new FileReader();
          reader.onload = function (event) {
            img.src = event.target.result;
            img.id=target.id;
          };
          reader.readAsDataURL(file);
          $("#chat-image-name").val(file.name);
        };
      }


      function addQuestion(){
        var length = $("#answer-row").children().length;
        $("#answer-row").append(""+
          "<div class=\"row\" style=\"border-bottom:1px solid #e2e7ea;\">"+
          "<div class=\"col-md-3\">"+
              "<ul class=\"pt-edit-btn\">"+
                  "<li>"+
                    "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>사진</h4></button>"+
                  "</li>"+
              "</ul>"+
              "<div class=\"form-group\">"+
                  "<a href=\"#\" class=\"tt-button-icon\">"+
                      "<span class=\"tt-icon\">"+
                        "<img style=\"max-width:120px; max-height:120px; min-width:120px; min-height:120px;\" id=\"image_"+numberPad(length,2)+"\" onclick=\"ajaxFileUpload('"+length+"')\"></img>"+
                        "<input type=\"file\" name=\"answerSub[" + (length-1) +"].file\" id=\"imageFile_" + numberPad(length,2) + "\" style=\"display:none;\"></img>"+
                        "<input type=\"text\" name=\"answerSub[" + (length-1) + "].number\" style=\"display:none;\" value=\"" + (length-1) + "\"/>"+
                      "</span>"+
                  "</a>"+
              "</div>"+
          "</div>"+
          "<div class=\"col-md-9\">"+
              "<div class=\"col-left\">"+
                  "<ul class=\"pt-edit-btn\">"+
                      "<li>"+
                        "<button type=\"button\" class=\"btn-icon\" style=\"cursor:\"><h4>질문내용</h4></button>"+
                      "</li>"+
                  "</ul>"+
              "</div>"+
              "<textarea name=\"answerSub[" + (length-1) + "].text\" class=\"form-control\" rows=\"5\" placeholder=\"사진에 대한 설명 및 답변을 입력하세요.\"></textarea>"+
          "</div>"+
          "</div>");
          imagePreView(document.getElementById("imageFile_"+numberPad(length,2)));
      }

      </script>
</body>
</html>
