<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <!-- tt-mobile menu -->
      <nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
      <header th:replace="solution/widget/pc-menu :: p-menu"></header>
      <main style="margin-bottom:50px;">
         <div class="container">
            <div class="tt-layout-404">
               <span class="tt-icon">
               <img th:src="@{images/single-topic-img01.jpg}" src="/images/single-topic-img01.jpg"/>
               </span>
               <h6 class="tt-title">방문을 환영합니다.</h6>
               <p>어렵고 힘든 문제가 있으신가요?<br>
                  <a href="/solution/apply" class="tt-color-dark tt-underline-02">문제등록</a>을 통해 고수님들의 도움을 받아보세요.
               </p>
            </div>
            <div class="tt-topic-list tt-offset-top-55" >
               <h1 class="tt-title-border" style="text-align:left;">
                  최근 등록된 문제
               </h1>

               <!-- 질문리스트 row-->
               <div th:each="list : ${solutions}" class="tt-item"  th:onclick="location.href='/pg/'" style="cursor:pointer;">  <!--  ' + ${list.id} + ' -->
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-q"></use>
                     </svg>
                  </div>
                  <div class="tt-col-description">
                     <h6 class="tt-title">
                        <a >
                           <svg class="tt-icon">
                              <use xlink:href="#icon-locked"></use>
                           </svg>
                          <span th:text="${list.title}">질문제목을 불러올수 없습니다.</span>
                        </a>
                     </h6>
                     <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-9">
                           <ul class="tt-list-badge">
                              <li class="show-mobile"><a ><span class="tt-color04 tt-badge" th:text="${list.state.name}">상태</span></a></li>
                           </ul>
                        </div>
                        <div class="col-3 ml-auto show-mobile">
                           <div class="tt-value"><span th:text="${list.upload_date}">0000-00-00</span></div>
                        </div>
                     </div>
                  </div>
                  <div class="tt-col-category tt-col-value-large hide-mobile">
					<span class="tt-color07 tt-badge" th:if="${list.state == 4}" th:text="${list.state.name}">답변완료</span>
					<span class="tt-color04 tt-badge" th:unless="${list.state == 4}" th:text="${list.state.name}">답변대기</span>
                  	<!-- <span class="tt-color04 tt-badge" th:text="${list.state.name}">상태</span> -->
                  </div>
                  <div class="tt-col-value-large hide-mobile"><span th:text="${list.upload_date}">0000-00-00</span></div>
               </div>
            </div>
         </div>
         </div>
      </main>
      <script src="js/bundle.js"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>
   </body>
</html>
