<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
   <body>
      <nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
      <header th:replace="solution/widget/pc-menu :: p-menu"></header>
      <main style="margin-bottom:50px;">
         <div class="container">
            <div class="tt-layout-404">
               <span class="tt-icon">
               <!-- <img th:src="@{images/single-topic-img01.jpg}" src="/images/single-topic-img01.jpg"/> -->
               </span>
               <h6 class="tt-title">방문을 환영합니다.</h6>
               <p>어렵고 힘든 문제가 있으신가요?<br>
                  <a th:href="${session.user?.type} == 2 ? '/solution' : '/solution/apply'" class="tt-color-dark tt-underline-02">문제등록</a>을 통해 고수님들의 도움을 받아보세요.
               </p>
            </div>
            <div class="tt-topic-list tt-offset-top-55" >
               <h1 class="tt-title-border" style="text-align:left;">
                  최근 등록된 문제
               </h1>
               <div th:each="list : ${solutions}" class="tt-item"  th:onclick="onClickList([[${list.id}]]);" style="cursor:pointer;">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-q"></use>
                     </svg>
                  </div>
                  <div class="tt-col-description">
                     <h6 class="tt-title">
                        <a>
                          <span th:text="${list.title}">질문제목을 불러올수 없습니다.</span>
                        </a>
                     </h6>
                     <p th:text="'re : ' + ${list.review}">리뷰 글</p>
                     <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-9">
                           <ul class="tt-list-badge">
                              <li class="show-mobile">
                                <a>
                                  <span th:class="'tt-color0'+${list.state.id} + ' tt-badge'" th:text="${list.state.name}">상태</span>
                                </a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-3 ml-auto show-mobile" style="margin-right:30px;">
                          <div class="tt-value"><span th:text="${#temporals.format(list.upload_date, 'yyyy-MM-dd')}">0000-00-00</span></div>
                          <!-- <div class="tt-value"><span th:text="${list.upload_date}">0000-00-00</span></div> -->
                        </div>
                     </div>
                  </div>
                  <div class="tt-col-category tt-col-value-large hide-mobile">
                    <span th:class="'tt-color0'+${list.state.id} + ' tt-badge'" th:text="${list.state.name}">상태</span>
                  </div>
                  <div class="tt-col-value hide-mobile" style="width:130px;">
                    <span th:text="${#temporals.format(list.upload_date, 'yyyy-MM-dd')}">0000-00-00</span>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </main>
      <script th:src="@{/js/bundle.js}"></script>
      <script th:src="@{/js/utils.js}"></script>
      <svg th:replace="solution/svg/svg :: svg"></svg>
   </body>
   <script>
     function onClickList(id){
       var userid = "[[${session.user?.username}]]";
       if(userid){
         window.location.href="/solution/detail?id="+id;
       }
       else{
         var prompt = window.prompt('패스워드를 입력하세요. ');
         if(prompt){
           postAPI("/solution/login", JSON.stringify({
             "sol_idx" : id,
             "password" : prompt
           }), function(result){
             if(result) window.location.href="/solution/detail?id="+id
             else window.alert("정보가 일치하지 않습니다.");
           })
         }
       }
     }
   </script>
</html>
