<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="solution/widget/head :: head"></head>
<body>
<!-- tt-mobile menu -->
<nav th:replace="solution/widget/mobile-menu :: m-menu"></nav>
<header th:replace="solution/widget/pc-menu :: p-menu"></header>

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-tab-wrapper" style="cursor:pointer;">
            <div class="tt-wrapper-inner">
                <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                    <li class="nav-item show" onclick="location.href='/solution/list?min=0&max=10&state=0'">
                        <a th:classappend="${#strings.equals(param.state, 0)} ? active" class="nav-link" data-toggle="tab" role="tab"><span>전체</span></a>
                    </li>
                    <li class="nav-item" onclick="location.href='/solution/list?min=0&max=10&state=4'">
                        <a th:classappend="${#strings.equals(param.state, 4)} ? active" class="nav-link" data-toggle="tab" role="tab"><span>답변완료</span></a>
                    </li>
                    <li class="nav-item" onclick="location.href='/solution/list?min=0&max=10&state=1'">
                        <a th:classappend="${#strings.equals(param.state, 1)} ? active" class="nav-link" data-toggle="tab" role="tab"><span>답변대기중</span></a>
                    </li>
                    <li class="nav-item" onclick="location.href='/solution/list?min=0&max=10&state=5'">
                        <a th:classappend="${#strings.equals(param.state, 5)} ? active" class="nav-link" data-toggle="tab" role="tab"><span>리뷰완료</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane tt-indent-none  show active" role="tabpanel" >
                   <div class="tt-topic-list">
                        <div class="tt-item" th:onclick="onClickList([[${list.id}]]);" th:each="list : ${solutions}">
                            <div class="tt-col-avatar">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-ava-q"></use>
                                </svg>
                            </div>
                            <div class="tt-col-description">
                                <h6 class="tt-title">
                                  <a >
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-locked"></use>
                                    </svg>
                                    <span th:text="${list.title}">질문제목을 불러올수 없습니다.</span>
                                  </a>
                                </h6>
                                <p th:if="${list.state.id == 5}" th:text="'re : ' + ${list.review}" style="margin:0px;">리뷰 글</p>
                                <!-- <span class="tt-color21 tt-badge"
                                        th:if="${list?.isNew? != null}"
                                        th:text="${list.isNew?} == true ? '새로운 문제풀이' : ''">상태</span>
                                <span class="tt-color21 tt-badge" th:text="${list.state.name}">상태</span> -->
                                <div class="row align-items-center no-gutters hide-desktope">
                                    <div class="col-9">
                                        <ul class="tt-list-badge">
                                            <li class="show-mobile">
                                              <a>
                                                <span th:class="'tt-color0'+${list.state.id} + ' tt-badge'" th:text="${list.state.name}">상태</span>
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3 ml-auto show-mobile" style="margin-right:10px;">
                                       <div class="tt-value"><span th:text="${#temporals.format(list.upload_date, 'yyyy-MM-dd')}">0000-00-00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col-category tt-col-value-large hide-mobile">
                              <span th:class="'tt-color0'+${list.state.id} + ' tt-badge'" th:text="${list.state.name}">상태</span>
                              <!-- <span class="tt-color10 tt-badge" th:unless="${list.state.id == 4}" th:text="${list.state.name}"></span> -->

                            </div>
                            <div class="tt-col-value-large hide-mobile" style="width:120px; text-align:right;">
                              <a th:text="${#temporals.format(list.upload_date, 'yyyy-MM-dd')}">0000-00-00</a>
                              <a th:text="${#temporals.format(list.upload_date, 'HH:mm')}" style="text-align:right;">0000-00-00</a>
                            </div>
                        </div>

                        <div class="tt-row-btn">
                            <button type="button" class="btn-icon js-topiclist-showmore">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-load_lore_icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script>
  function onClickList(id){
    var userid = "[[${session.user?.username}]]";
    if(userid){
      window.location.href="/solution/detail?id="+id;
    }
    else{
      var prompt = window.prompt('패스워드를 입력하세요. ');
      if(prompt){
        postAPI("/solution/login", JSON.stringify({
          "sol_idx" : id,
          "password" : prompt
        }), function(result){
          console.log("result : " , result);
          if(result) window.location.href="/solution/detail?id="+id
          else window.alert("정보가 일치하지 않습니다.");
        })
      }
    }
  }
</script>
<svg th:replace="solution/svg/svg :: svg"></svg>
</body>
</html>
