<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DGIST - 문제은행</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- tt-mobile menu -->
<nav class="panel-menu" id="mobile-menu">
    <ul>

    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                  <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<header id="tt-header">
    <div class="container">
        <div class="row tt-row no-gutters">
            <div class="col-auto">
                <!-- toggle mobile menu -->
                <a class="toggle-mobile-menu" >
                    <svg class="tt-icon">
                      <use xlink:href="#icon-menu_icon"></use>
                    </svg>
                </a>
                <!-- /toggle mobile menu -->
                <!-- logo -->
                <div class="tt-logo">
                    <a href="/solution">
                      <img th:src="@{/images/logo.png}" src="/images/logo.png" alt="">
                    </a>
                </div>
                <!-- /logo -->
                <!-- desctop menu -->
                  <div class="tt-desktop-menu">
                    <nav>
                        <ul>
                           <li><a href="/solution/apply"><span>등록</span></a></li>
                          	<li><a href="/solution/list?min=1&max=10&state=0" ><span>목록</span></a></li>
                            <li><a href="/pg/myAnswer"><span>내 답변</span></a></li>
                            <li><a href="/pg/help"><span>이용방법</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-auto ml-auto">
               <div class="tt-user-info d-flex justify-content-center">
                  <a class="tt-btn-icon"> 로그아웃 </a>
              </div>
            </div>
        </div>
    </div>
</header>

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-tab-wrapper" style="cursor:pointer;">
            <div class="tt-wrapper-inner">
                <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                    <li class="nav-item show" onclick="location.href='/solution/list?min=1&max=10&state=0'">
                        <a class="nav-link active" data-toggle="tab" role="tab"><span>전체</span></a>
                    </li>
                    <li class="nav-item" onclick="location.href='/solution/list?min=1&max=10&state=4'">
                        <a class="nav-link" data-toggle="tab" role="tab"><span>답변완료</span></a>
                    </li>
                    <li class="nav-item" onclick="location.href='/solution/list?min=1&max=10&state=1'">
                        <a class="nav-link" data-toggle="tab" role="tab"><span>답변대기중</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane tt-indent-none  show active" role="tabpanel" >
                   <div class="tt-topic-list">
                        <div class="tt-item" onclick="location.href='/pg/detail'" th:each="list : ${solutions}">
                            <div class="tt-col-avatar">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-ava-q"></use>
                                </svg>
                            </div>
                            <div class="tt-col-description">
                                <h6 class="tt-title"><a >
                                    <svg class="tt-icon">
                                      <use xlink:href="#icon-locked"></use>
                                    </svg>
                                    <span th:text="${list.title}">질문제목을 불러올수 없습니다.</span>
                                </a></h6>
                                <div class="row align-items-center no-gutters hide-desktope">
                                    <div class="col-9">
                                        <ul class="tt-list-badge">
                                            <li class="show-mobile">
                                              <a>
                                                <span class="tt-color07 tt-badge" th:if="${list.state == 4}">답변완료</span>
                                                <span class="tt-color04 tt-badge" th:unless="${list.state == 4}">풀이대기</span>
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3 ml-auto show-mobile">
                                       <div class="tt-value"><span th:text="${list.upload_date}">0000-00-00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col-category tt-col-value-large hide-mobile">
                              <span class="tt-color07 tt-badge" th:if="${list.state == 4}" th:text="${list.state.name}">답변완료</span>
                              <span class="tt-color04 tt-badge" th:unless="${list.state == 4}" th:text="${list.state.name}">답변대기</span>
                            </div>
                            <div class="tt-col-category tt-col-value-large hide-mobile">
                              <span class="tt-color07 tt-badge" th:if="${list.review != null}">후기등록</span>
                            </div>
                            <div class="tt-col-value-large hide-mobile"><span th:text="${list.upload_date}">0000-00-00</span></div>
                        </div>

                        <div class="tt-row-btn">
                            <button type="button" class="btn-icon js-topiclist-showmore">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-load_lore_icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../js/bundle.js"></script>

</body>
</html>
