<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:fragment="head">
      <meta charset="utf-8">
      <title>DGIST - 문제은행</title>
      <meta name="keywords" content="HTML5 Template">
      <meta name="description" content="Forum - Responsive HTML5 Template">
      <meta name="author" content="Forum">
      <meta name="format-detection" content="telephone=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}" href="/favicon/favicon.ico">
      <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
   </head>
 </html>
