<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="tt-header" th:fragment="p-menu">
   <div class="container">
      <div class="row tt-row no-gutters">
         <div class="col-auto">
            <!-- toggle mobile menu -->
            <a class="toggle-mobile-menu" >
               <svg class="tt-icon">
                  <use xlink:href="#icon-menu_icon"></use>
               </svg>
            </a>
            <!-- /toggle mobile menu -->
            <!-- logo -->
            <div class="tt-logo">
               <a href="/solution">
                 <img th:src="@{/images/logo.png}" src="/images/logo.png" alt="">
               </a>
            </div>
            <!-- /logo -->
            <!-- desctop menu -->
            <div class="tt-desktop-menu">
               <nav>
                  <ul>
                     <li><a href="/solution/apply" th:if="${session.user?.type != 2}" ><span >등록</span></a></li>
                     <li><a href="/solution/list?min=0&max=10&state=0" ><span>목록</span></a></li>
                     <!-- <li><a href="/pg/myAnswer" th:if="${session.user?.username != null}"><span>내 답변</span></a></li> -->
                     <li><a href="/help/intro.html"><span>이용방법</span></a></li>
                  </ul>
               </nav>
            </div>
            
         </div>
        <div class="col-auto ml-auto">
          <div class="tt-account-btn">
              <a href="/solution/user/login" class="btn btn-primary" th:if="${session.user?.username == null}">Log in</a>
              <a href="/solution/user/signup" class="btn btn-secondary" th:if="${session.user?.username == null}">Sign up</a>
              <a href="/solution/user/logout" class="btn btn-secondary" th:if="${session.user?.username != null}">Log out</a>
          </div>
        </div>
      </div>
   </div>
</header>
<svg th:replace="solution/svg/svg :: svg"></svg>

</html>
